nav{
    background: #e9e9e9;
    height: 120px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20%;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 17px;
    padding: 50px 26px;
    border-radius: 3px;
    text-transform: uppercase;
}
nav ul li a.active,nav ul li a:hover{
    background: lightskyblue;
    transition: .5s;
}
.image {
    position: relative;
    width: 100%;
    padding-top: -30px;
    background: #e9e9e9;
}
h1 {
    position: absolute;
    top: 200px;
    width: 100%;
    color: white;
    font-size: 80px;
    font-family: "Apple Chancery";
}
body{
    font-family: montserrat;
}