nav{
    background: #e9e9e9;
    height: 120px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20%;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 50px 26px;
    border-radius: 3px;
    text-transform: uppercase;
}
nav ul li a.active,nav ul li a:hover{
    background: lightskyblue;
    transition: .5s;
}
.image2 {
    position: relative;
    width: 100%;
    padding-top: -30px;
    background: #e9e9e9;
}
h1 {
    position: absolute;
    top: 200px;
    width: 100%;
    color: white;
    font-size: 80px;
    font-family: "Apple Chancery";
}
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 80%; }
    .column,
    .columns {
        margin-left: 0.5%; }
    .column:first-child,
    .columns:first-child {
        margin-left: 0; }
    .half.column                    {width: 6%;              }
    .one.column,
    .one.columns                    { width: 8%;             }
    .two.columns                    { width: 16.25%;         }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 33%;            }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 49.75%;          }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 66.5%;          }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.5%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }

    .one-half.column                { width: 48%; }

    .about.column                   { width: 22%; }
    .about.gap.column               { width: 1.6%; padding-top: 1px }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }

}